force-app/main/default/flows/AI_Email_Generator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Parses the AI-generated JSON response and creates EmailMessage records in Salesforce linked to the specified Account or Opportunity</description>
        <name>Create_EmailMessage_Records</name>
        <label>Create EmailMessage Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>EmailCreatorFromAI</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Set_Creation_Error_Output</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>aiGeneratedJson</name>
            <value>
                <elementReference>aiGeneratedJson</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordType</name>
            <value>
                <elementReference>recordType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userEmail</name>
            <value>
                <elementReference>currentUserEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userName</name>
            <value>
                <elementReference>currentUserName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EmailCreatorFromAI</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>emailCount</assignToReference>
            <name>createdCount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>message</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>success</assignToReference>
            <name>success</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Calls the AI prompt template to generate realistic email content based on user request, record context, and business requirements</description>
        <name>Generate_Email_Content_with_AI</name>
        <label>Generate Email Content with AI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Generate_Email_Data_From_Request</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Create_EmailMessage_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_AI_Error_Output</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:recordType</name>
            <value>
                <elementReference>recordType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:accountName</name>
            <value>
                <elementReference>Get_Account_Details.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:userRequest</name>
            <value>
                <elementReference>userRequest</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Generate_Email_Data_From_Request</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>aiGeneratedJson</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assigns the retrieved Account ID to the accountId variable.</description>
        <name>Set_Account_Info</name>
        <label>Set Account Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Email_Content_with_AI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AI_Error_Output</name>
        <label>Set AI Error Output</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AI generation failed. Please try again.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Set Creation Error Output</description>
        <name>Set_Creation_Error_Output</name>
        <label>Set Creation Error Output</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed to create emails. Please try again.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets the current user&apos;s email and username for use in the AI prompt template</description>
        <name>Set_User_Info</name>
        <label>Set User Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>currentUserEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentUserName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Account_Info</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>AI Email Generator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AI Email Generator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Retrieves the Account record name and details using the provided recordId to provide business context for AI email generation</description>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_User_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Account ID for contact creation</description>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The name of the Account record used to provide business context to the AI for generating realistic email content. Retrieved automatically from the recordId.</description>
        <name>accountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>JSON string containing the AI-generated email data structure returned from the prompt template, including subjects, bodies, addresses, and metadata for each email to be created.</description>
        <name>aiGeneratedJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The current user&apos;s email address, used by the AI prompt template to properly set internal email addresses and ensure proper Salesforce linking.</description>
        <name>currentUserEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The current user&apos;s username, used by the AI prompt template to properly set internal email sender names and ensure proper Salesforce linking.</description>
        <name>currentUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The total number of EmailMessage records that were successfully created and saved to Salesforce. Returns 0 if the operation failed or no emails were generated.</description>
        <name>emailCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Human-readable message describing the result of the email generation operation. Includes success confirmation with count or specific error details for troubleshooting.</description>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The 18-character Salesforce record ID of the Account or Opportunity that the generated EmailMessage records should be associated with. This links the mock emails to the specific business record.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Salesforce object type of the record to associate emails with. Must be &apos;Account&apos; or &apos;Opportunity&apos;. This determines how the EmailMessage records will be linked to the business record.</description>
        <name>recordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Boolean indicating whether the email generation operation completed successfully. Returns true if emails were created, false if there were any errors during the process.</description>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The user&apos;s natural language request describing what kind of mock emails to generate, including number of emails, timeframe, personas, and business context. 

Examples: &apos;Create 5 emails showing a B2B deal progression&apos; or &apos;Generate 3 emails with Bobby Gibbs over 6 months&apos;</description>
        <name>userRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
