force-app/main/default/flows/Case_Generator_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls the Case Generator class and runs the Generate Cases from JSON (Apex Method).</description>
        <name>Create_Cases</name>
        <label>Create Cases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CaseGenerator</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseJsonData</name>
            <value>
                <elementReference>promptResponse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>expectedCaseCount</name>
            <value>
                <elementReference>caseCount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>industry</name>
            <value>
                <elementReference>industry</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CaseGenerator</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>caseIds</assignToReference>
            <name>caseIdList</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>caseCount</assignToReference>
            <name>casesCreated</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>casesGenerated</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>success</assignToReference>
            <name>success</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Calls the Case Generator Prompt Template.</description>
        <name>Generate_Case_Data</name>
        <label>Generate Case Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Case_Generator</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Create_Cases</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:contactId</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:industry</name>
            <value>
                <elementReference>industry</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:caseCount</name>
            <value>
                <elementReference>caseCount</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case_Generator</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>promptResponse</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Case Generator Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Generator Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generate_Case_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>industry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>casesGenerated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This stores the JSON response from the GenAI Prompt Template</description>
        <name>promptResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
