force-app/main/default/flows/Contact_Generator_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls the Contact Generator class and runs the Generate Contacts from JSON (Apex Method).</description>
        <name>Create_Contacts</name>
        <label>Create Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ContactGenerator</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactJsonData</name>
            <value>
                <elementReference>promptResponse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>expectedContactCount</name>
            <value>
                <elementReference>contactCount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>industry</name>
            <value>
                <elementReference>industry</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ContactGenerator</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>contactIds</assignToReference>
            <name>contactIdList</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>contactCount</assignToReference>
            <name>contactsCreated</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>contactsGenerated</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>success</assignToReference>
            <name>success</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Calls the Contact Generator Prompt Template.</description>
        <name>Generate_Contact_Data</name>
        <label>Generate Contact Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Contact_Generator</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Create_Contacts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:industry</name>
            <value>
                <elementReference>industry</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:accountId</name>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:contactCount</name>
            <value>
                <elementReference>contactCount</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact_Generator</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>promptResponse</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Contact Generator Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Generator Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generate_Contact_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>contactIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactsGenerated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>industry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This stores the JSON response from the GenAI Prompt Template</description>
        <name>promptResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
