force-app/main/default/flows/Knowledge_Article_Generator_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls the Knowledge Article Generator class and runs the Generate Knowledge Articles from JSON (Apex Method).</description>
        <name>Create_Knowledge_Articles</name>
        <label>Create Knowledge Articles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>KnowledgeArticleGenerator</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>topicArea</name>
            <value>
                <elementReference>topicArea</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>articleJsonData</name>
            <value>
                <elementReference>promptResponse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>expectedArticleCount</name>
            <value>
                <elementReference>articleCount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>industry</name>
            <value>
                <elementReference>industry</elementReference>
            </value>
        </inputParameters>
        <nameSegment>KnowledgeArticleGenerator</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>articleIds</assignToReference>
            <name>articleIdList</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>articleCount</assignToReference>
            <name>articlesCreated</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>articlesGenerated</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>success</assignToReference>
            <name>success</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Calls the Knowledge Article Generator Prompt Template.</description>
        <name>Generate_Knowledge_Article_Data</name>
        <label>Generate Knowledge Article Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Knowledge_Article_Generator</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Create_Knowledge_Articles</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:topicArea</name>
            <value>
                <elementReference>topicArea</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:industry</name>
            <value>
                <elementReference>industry</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:articleCount</name>
            <value>
                <elementReference>articleCount</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Knowledge_Article_Generator</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>promptResponse</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Knowledge Article Generator Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Knowledge Article Generator Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generate_Knowledge_Article_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>topicArea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>articleCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>industry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>articleIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>articlesGenerated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This stores the JSON response from the GenAI Prompt Template</description>
        <name>promptResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
