force-app/main/default/flows/Task_Event_Generator_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls the TaskEventGenerator class and runs the Generate Tasks and Events from JSON (Apex Method).</description>
        <name>Create_Activities</name>
        <label>Create Activities</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TaskEventGenerator</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>activityJsonData</name>
            <value>
                <elementReference>promptResponse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>expectedActivityCount</name>
            <value>
                <elementReference>activityCount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>industry</name>
            <value>
                <elementReference>industry</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TaskEventGenerator</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>activityIds</assignToReference>
            <name>activityIdList</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>activityCount</assignToReference>
            <name>activitiesCreated</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>activitiesGenerated</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>success</assignToReference>
            <name>success</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Calls the Task Event Generator Prompt Template.</description>
        <name>Generate_Task_Event_Data</name>
        <label>Generate Task Event Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Task_Event_Generator</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Create_Activities</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:industry</name>
            <value>
                <elementReference>industry</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:activityCount</name>
            <value>
                <elementReference>activityCount</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Task_Event_Generator</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>promptResponse</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Task Event Generator Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task Event Generator Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generate_Task_Event_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>activityCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>activityIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>activitiesGenerated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>industry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This stores the JSON response from the GenAI Prompt Template</description>
        <name>promptResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
